<include href="site_specific/adminmenu.htm" />
<h1>No access</h1>
<p>Please log in</p>
<form action="{{ @BASE }}" method="post" class="form-signin">

	<input type="text" class="form-control" placeholder="Email" name="username" id="username" required autofocus>
	<input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
	<input type="hidden" name="login" value="login" />
	<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

</form>


