<div class="container py-5">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<h1 class="prod-header">{{ @i18n_lostpassword }}</h1>
					<check if="{{ isset(@message) }}">
						<true>
							<div class="alert alert-danger" role="alert">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error:</span>
								{{ @message | raw }}
							</div>
						</true>
						<false>
							<check if="{{ isset(@SESSION.message) }}">
								<true>
								<div class="alert alert-success" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<span class="sr-only">Message:</span>
									{{ @SESSION.message | raw }}
								</div>
								</true>
							</check>
						</false>
					</check>
					<form action="" method="post" class="">
							<div class="form-group">
								<label class="control-label" for="new_password">{{ @i18n_password }}</label>
								<input type="password" class="form-control input-lg" data-validation="pw_or_empty" name="new_password" id="new_password" />
							</div>
							<div class="form-group">
								<label class="control-label" for="confirm">{{ @i18n_password_conf }}</label>
								<input type="password" class="form-control input-lg" name="confirm" id="confirm" />
							</div>
							<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
							<div class="col-lg-xs text-center"><input class="btn btn-primary" name="reset_pw" value="{{ @i18n_changepassword }}" type="submit"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>