<!DOCTYPE html>
<html lang="en">
  
  <include href="head.htm"></include>

  <body>
    <div id="wrapper" class="">
      <include href="nav.htm"></include>
      <include href="header.htm"></include>
      <div class="columns">
        <div class="column">
          <include href="{{ @view }}"></include>
        </div>
        <div class="column is-3 is-hidden-mobile is-hidden-widescreen-only">
          <p>Desktop ad bar</p>
        </div>
        <div class="column is-hidden-tablet-only is-hidden-desktop-only">
          <p>Mobile ad bar</p>
        </div>
      </div>
    </div>
    <script src="https://BTAXFF3PetiteVue.spurblickale.repl.co/public/js/petite.js"></script>
  </body>
</html>